.App {
  display: grid;
  grid-template-columns: 2fr 7.5fr 1fr;
  grid-template-rows: 100px 8fr 500px 50px;
  gap: 1px 1px;
  grid-template-areas: 'Header Header Header' 'onlineList messageBox right' 'onlineList chatBox right' 'footer footer footer';
  background-color: bisque;
}

.Header {
  grid-area: Header;
}

.messageBox {
  grid-area: messageBox;
}

.chatBox {
  grid-area: chatBox;
  border: 1px solid black;
}

.overflowYScroll {
  overflow-y: scroll;
  height: 318px;
}

.footer {
  grid-area: footer;
}

.right {
  grid-area: right-side;
}

.onlineList {
  grid-area: onlineList;
}
